.localTime {
  position: absolute;
  right: 10%;
}

.country {
  position: relative;
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .localTime {
    position: relative;
    left: 20%;
  }

  .country {
    width: 100%;
  }
}
