.primaryContainer {
  /* width: 80%; */
  position: relative;
  /* left: 10%; */
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 10em 10em 10em;
  gap: 2em;
}

.primaryContainer img {
  width: 2.3em;
}

.primaryContainer div:hover {
  cursor: pointer;
}

.feelsLike {
  grid-column-start: 0;
  grid-column-end: 3;
}

.mainTextIcon {
  display: flex;
  justify-content: center;
}

.mainTextIcon img {
  width: 5em;
}

@media only screen and (max-width: 800px) {
  .primaryContainer {
    grid-template-columns: 25% 25% 25%;
  }
}
