.iconContainer {
  display: flex;
  width: 7rem;
  height: 5rem;
}

.icon {
  width: 7em;
}

@media only screen and (max-width: 800px) {
  .iconContainer {
    display: flex;
    width: 5rem;
    height: 3rem;
  }
  .icon {
    width: 5em;
  }
}
