.forecastItem {
  display: inline-block;
  position: relative;
  width: 15%;
  height: auto;
  margin-left: 11%;
  left: 4%;
  background-color: rgb(238, 238, 238);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 5px beige;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.forecastList {
  position: relative;
  align-items: center;
  /* text-align: center; */
}
.forecastsTitle {
  position: relative;
  left: 50%;
  margin-left: -90px;
  color: white;
}

.forecastsContainer {
  position: relative;
  top: 50px;
}

.hourlyContainer {
  display: none;
  position: absolute;
  background-color: beige;
  text-align: center;
  opacity: 0.9;
  top: 10%;
  width: 80%;
  height: 100%;
  left: 10%;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 5;
  border-radius: 50px;
}

.hourlyItem {
  margin-top: 5%;
  font-weight: bold;
  list-style: none;
}

.textAndIcon {
  display: inline-block;
  position: relative;
  right: 2%;
}

.tempContainer {
  display: inline-block;
}

.windContainer {
  display: inline-block;
  position: relative;
  left: 2%;
}

.windDir {
  color: blue;
}

.time {
  color: blue;
  font-size: 17px;
}

.hourlyBtn {
  float: left;
  position: relative;
  left: 2%;
  top: 10px;
  background-color: rgb(202, 202, 202);
  border-radius: 10px;
}
.xButton {
  float: right;
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  top: 5%;
  right: 5%;
}
